<header class="site-header">
  <div class="wrap">
    <a class="brand" href="{{ '/' | relative_url }}">rask0l</a>
    <nav class="site-nav">
      {%- assign p = page.url -%}
      <a href="{{ '/writeups/' | relative_url }}" class="{% if p contains '/writeups' %}active{% endif %}">writeups</a>
      <a href="{{ '/blog/' | relative_url }}" class="{% if p contains '/blog' %}active{% endif %}">blog</a>
      <a href="{{ '/about/' | relative_url }}" class="{% if p contains '/about' %}active{% endif %}">about</a>
    </nav>
  </div>
</header>
